@charset "UTF-8";

/*ユーザーcss*/
 
:root{
	--primary-color: #2e75b6;
	--secondary-color: #E5F0F8;
	
	--decision-color: #f4811e;
}
 
body{
	margin:auto;
	background-color: #f7f7f7;
	color: #333;
	overflow-y: scroll;
}
main{
	max-width: 90%;
	margin: auto;
}
 
 
/*機能タイトル(h1)*/
.title{
	text-align: center;
	margin: 30px;
}
 
/*共通ボタン*/
.button {
     	  
          width: 200px;
          padding: 12px;
          color: white;
          border: none;
          border-radius: 30px;
          cursor: pointer;
          font-size: 16px;
          margin: 20px 0;
          text-decoration: none;
		  transition: background-color 0.3s, transform 0.2s;
		          }
		  		.button:hover{
		  			transform: scale(1.05);
		  		}

 
 
/*確定ボタン(オレンジ)*/
.confirmed-button{
	background-color: var(--decision-color);
}
.confirmed-button:hover {
      background-color: #e67300;
    }

/*戻るボタン(オレンジ)*/
.cancel-button{
	background-color: var(--primary-color);
}
.cancel-button:hover {
      background-color: #004d80;
    }
    
 
 
	
/*ヘッダー*/
/*header{*/
/*	background-color: #fff;*/
/*	width: 100%;*/
/*	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
/*	border-bottom: 2px solid var(--primary-color);*/
/*	position: -webkit-sticky;*/
/*			  position: sticky;*/
/*			  top: 0;*/
/*}*/
header {
  background-color: #fff;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 影を強めにして浮かせる */
  border-bottom: 2px solid var(--primary-color);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999; /* 高い値で最前面に */
}

.header-content{
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-content img{
	margin: auto 0px;
}
nav{
	flex-grow: 1;
	text-align: center;
}
 
.menu-lists{
	display: inline-flex;
	  justify-content: center;
	  padding: 0;
	  margin: 0;
	  list-style: none;
}
 
.menu-list {
	position: relative;
	 height: 60px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 padding: 0 50px;
	 transition: all 0.3s;
}
 
.menu-list:hover {
  background-color: var(--primary-color);
}
 
.menu-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color:   var(--primary-color);
  font-size: 15px;
  font-weight: 600;
  transition: all 0.3s;
  margin-left: 10px;
}
 
.menu-list:hover a {
  color: #fff;
}
.menu-list:hover img {
    filter: brightness(0) invert(1);
    transition: filter 0.3s ease;
}
.dropdown-lists {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #004d80;
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-list:hover .dropdown-lists {
  display: block;
}

.dropdown-list {
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-top: 1px solid #3492d1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-list a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.dropdown-list:hover {
  background-color: #003558;
}
 
.header-lists{
  display: flex;
  padding: 0;
  margin: 0;
}
 
.header-list {
  transition: all 0.3s;
  list-style: none;
  margin:auto 10px;
}
.header-list:hover img {
	filter: brightness(0.3);
	transition: filter 0.3s ease;
}