@charset "UTF-8";@charset "UTF-8";
 
:root{
	--primary-color: #2e75b6;
	--secondary-color: #E5F0F8;
	
	--decision-color: #f4811e;
}
 
body{
	margin:auto;
	background-color: #f7f7f7;
	color: #333;
}
main{
	max-width: 90%;
	margin: auto;
}
 
 
/*機能タイトル(h1)*/
.title{
	text-align: center;
	margin: 30px;
}
 
/*共通ボタン*/
.button {
     	  
          width: 50%;
          padding: 12px;
          color: white;
/*          border: none;*/
          border-radius: 30px;
          cursor: pointer;
          font-size: 16px;
          margin: 20px 0;
          text-decoration: none;
        }
 
 
/*確定ボタン(オレンジ)*/
.confirmed-button{
	background-color: var(--decision-color);
}
.confirmed-button:hover {
      background-color: #e67300;
    }
    
 
 
	
/*ヘッダー*/
header{
	background-color: #fff;
	width: 100%;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-bottom: 2px solid var(--primary-color);
}
.header-content{
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-content img{
	margin: auto 0px;
}
nav{
	flex-grow: 1;
	text-align: center;
}
 
.menu-lists{
	display: inline-flex;
	  justify-content: center;
	  padding: 0;
	  margin: 0;
	  list-style: none;
}
 
.menu-list {
	position: relative;
	 height: 60px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 padding: 0 50px;
	 transition: all 0.3s;
}
 
.menu-list:hover {
  background-color: var(--primary-color);
}
 
.menu-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color:   var(--primary-color);
  font-size: 15px;
  font-weight: 600;
  transition: all 0.3s;
  margin-left: 10px;
}
 
.menu-list:hover a {
  color: #fff;
}
.menu-list:hover img {
    filter: brightness(0) invert(1);
    transition: filter 0.3s ease;
}
 
 
.header-lists{
  display: flex;
  padding: 0;
  margin: 0;
}
 
.header-list {
  transition: all 0.3s;
  list-style: none;
  margin:auto 10px;
}
.header-list:hover img {
	filter: brightness(0.3);
	transition: filter 0.3s ease;
}